*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.header, .footer {
	background: rgba(255, 113, 67, 0.27);
	padding: 38px 0 48px 0;
}

.header__flex, .footer__flex, .about {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
	max-width: 1070px;
	margin: 0 auto;
}

.nav__li {
	display: inline-block;
}

.nav__li:not(:first-of-type) {
	margin-left: 49px;
}

.nav__link {
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.468947px;
	color: #696871;
}

.nav__link:hover {
	color:black;
	transition: 300ms;
}

.button {
	width: 212.39px;
	height: 60px;
	border: none;
	border-radius: 10px;
	font-weight: 700;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: -0.531474px;
	color: #FFFFFF;
	cursor: pointer;
}

.button__orange {
	background: #FF7143;
}

.about {
	margin: 104px auto 85px auto;
}

.button__orange:hover {
	background: #e47955;
	transition: 500ms;
}

.about__title {
	font-weight: 700;
	font-size: 80px;
	line-height: 77px;
	letter-spacing: -2.50105px;
	color: #19191B;
	max-width: 467px;
	margin-bottom: 30px;
	}

.about__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.625263px;
	color: #696871;
	max-width: 464px;
	margin-bottom: 50px;
	}

.button__violet {
	background: #5454D4;
}

.button__violet:hover {
	background: #6464e0;
	transition: 500ms;
}

.button__transparent {
	background: none;
	color: #5454D4;
	border: 1px solid #5454D4;
	margin-left: 35px;
	}

.button__transparent:hover {
		background: #f1f1f3;
	}

.footer {
	padding: 53px 0;
}